/*
Creator: Mike Kaufman
Date created: 10/5/19
Date last modified: 10/5/19
*/
header, footer {
		background-color: #4937ba;
		text-align: center; 
		margin: 0, auto;
		border: thin solid black;
		}
h1 {
	font-family: 'Comic Sans MS';
}

body {
	background-color: #e6fff2;
	text-align: center;
	font-family: helvetica;
	margin-top: 30px;
}
nav {
	background-color: #f9a4a4;
	height: 200px;
	padding: 5px 10px 20px 10px;
	border: solid white;
}
nav a {
	background-color: #5b7d87;
	color: #bbd1ea;
	padding: 12px;
	border: thin solid #0d1f2d;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 20px;
	width: 150px;
	float: left;
}
nav a:hover{
	background-color: #fef9ff;
	color: #bbd1ea;
	font-weight: bold;
}
nav a:active{
	font-weight: bold;
}
nav a:visited{
	color: #e4c3ad;
}
carousel-item {
	
	background-color: #4937ba;
	text-align: center; 
	height: 200px;
	
}